.search-container {
  align-items: center;
  background: #FFEBEE;
  display: flex;
  height: 100vh;;
  justify-content: center;
  padding: 15px;
  width: 100vw;
  .search-container__input {
    margin: auto;
    text-align: center;
    width: 100%;
  }
}

